@page "/eventedbar"

<h3>Evented Bar Chart</h3>
<div class="row">
    <div class="col-4">
        <table class="table table-bordered table-sm">
            <thead class="thead-light">
            <tr>
                <th scope="col">Item</th>
                <th scope="col">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">Id</th>
                <td>@_selectedId</td>
            </tr>
            <tr>
                <th scope="row">Label</th>
                <td>@_selectedLabel</td>
            </tr>
            <tr>
                <th scope="row">Value</th>
                <td>@_selectedValue</td>
            </tr>
            </tbody>
        </table>
        <br/>
        <button class="btn btn-primary" @onclick="@ClearSelection">Clear Selection</button>
    </div>
    <div class="col-8">
        <ChartistBar Data="@_chartData" Options="@_chartOptions" OnDataPointClicked="DataPointClicked"/>
    </div>
</div>

@code {

    double? _selectedValue;
    string _selectedId;
    string _selectedLabel;

    ExtendedChartData _chartData = new()
    {
        Labels = new List<string>
        {
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday"
        },
        Series = new List<SeriesData>
        {
            new()
            {
                SeriesPoints = new List<SeriesPoint>
                {
                    new()
                    {
                        X = null,
                        Y = 12,
                        Meta = new PointMetaInfo
                        {
                            Label = "Monday"
                        }
                    },
                    new()
                    {
                        X = null,
                        Y = 9,
                        Meta = new PointMetaInfo
                        {
                            Label = "Tuesday"
                        }
                    },
                    new()
                    {
                        X = null,
                        Y = 7,
                        Meta = new PointMetaInfo
                        {
                            Label = "Wednesday"
                        }
                    },
                    new()
                    {
                        X = null,
                        Y = 8,
                        Meta = new PointMetaInfo
                        {
                            Label = "Thursday"
                        }
                    },
                    new()
                    {
                        X = null,
                        Y = 5,
                        Meta = new PointMetaInfo
                        {
                            Label = "Friday"
                        }
                    }
                }
            }
        }
    };

    BarOptions _chartOptions = new();

    void DataPointClicked(ChartistMouseEventArgs args)
    {
        Console.WriteLine(args.PointMetaInfo.Id);
        _selectedId = args.PointMetaInfo.Id;

        Console.WriteLine(args.PointMetaInfo.Label);
        _selectedLabel = args.PointMetaInfo.Label;

        Console.WriteLine(args.Value);
        _selectedValue = args.Value;


    }

    private void ClearSelection()
    {
        _selectedId = string.Empty;
        _selectedLabel = string.Empty;
        _selectedValue = null;


    }

}